# The folliwng assets are not free and thus will not be included in this repository
/Tiny_Treats_Playful_Bedroom_1.0
/Tiny_Treats_Playful_Bedroom_1.1

# No need to store in the repository all the model file extentions extensions
**/fbx
**/fbx(unity)
**/gltf

*.un~
